.idea/
vendor/**
localFiles/**
plugins/**
front/ioframe/img/pluginImages/**
front/ioframe/js/min/**
front/ioframe/css/min/**
cli/watcher-json/**
*min.js
*min.css
!front/ioframe/js/ext/**
!front/ioframe/css/ext/**
!plugins/def_icon.png
!plugins/def_thumbnail.png
!plugins/testPlugin
!plugins/testPlugin2
!plugins/.htaccess
composer.phar
composer.lock
!vendor/.htaccess