/*Css of body*/
body{
    background-color: #def0f8;
    font-family: "Courier New", Courier, monospace;
    scroll-behavior: smooth;
}
/*Css of main headers*/
h1{
    background-color: rgba(230,248,255,1);
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-top: 10px;
}

/*Css of secondary headers*/
h2{
    background-color: rgba(227,244,255,1);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace
}

/*All links that should remain of the same color go here*/
h6 a,#toc-frame a{
    color: inherit;  /*I want all links to remain of the original color even when clicked*/
}

h6  a:visited,#toc-frame a:visited{
    color: inherit;  /*I want all links to remain of the original color even when clicked*/
}

/*Css of small notes*/
h6{
    margin: 5px 0px 5px 0px;
}

/*Css of Table of contents, and all possible sub-categories*/
#toc-frame{
    font-weight: bold;
    font-size: 1em;
    list-style-type: none;
    width: 20%;
    display: inline;
    float: left;
    transition: 0.2s ease-in-out;
}

#toc-frame li{
    margin: 10px 0px 0px 5px;
}

#toc-frame li > ol{
    margin: 5px 0px 0px 0px;
    list-style-type: decimal;
}

#toc-frame li > ol > li{
    font-size: 0.9em;
    list-style-type: decimal-leading-zero;
}

#toc-frame ul{
    max-width: 95%;
    background: rgb(227, 244, 255);
    padding: 5px 10px 15px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

#toc-frame h2{
    background-color: rgba(227,244,255,1);
    border-radius: 5px;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    width: 95%;
    margin: 0px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 5px 0px 5px 0px;
}

/*Css of docs*/
#doc-frame{
    font-size: 1em;
    list-style-type: none;
    width: 80%;
    display: inline;
    float: left;
    transition: 0.2s ease-in-out;
}


/*Responsiveness*/
@media screen and (max-width: 1024px){
    /*TOC*/
    #toc-frame{
        width: 100%;
    }

    #toc-frame a{
        text-decoration: none;
    }

    #toc-frame ul> li > a{
        margin: 10px 0px 0px 5px;
        text-decoration: underline;
    }

    #toc-frame li > ol > li {
        background: rgba(0,0,0,0.1);
    }

    #toc-frame ul{
        max-width: 100%;
    }
    #toc-frame h2{
        width: 100%;
    }

    /*Docs*/
    #doc-frame{
        width: 100%;
    }
}