#mails[dir="rtl"]{
    text-align: right;
}
/* Inputs */

/* Search List */
#mails .search-list .search-results > * > :first-child {
    flex: 5;
    font-weight: 800;
}
#mails .search-list .search-results > * > * {
    min-width: 150px;
}
#mails .search-list .search-item {
    transition: 0.5s;
}
#mails .search-list .search-item:hover,
#mails .search-list .search-item.selected {
    background: var(--main-color-3);
}
#mails .search-list .search-results > .search-titles {
    font-size: 1.125em;
    background: none;
}